/* ----------------------------- */


/* <structure.scss> */

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

::-webkit-input-placeholder {
    color: #2e2e2e;
}

:-moz-placeholder {
    color: #2e2e2e;
}

::-moz-placeholder {
    color: #2e2e2e;
}

:-ms-input-placeholder {
    color: #2e2e2e;
}

html {
    font-size: 62.5%;
    /* REM use */
    height: 100%;
    min-height: 100%;
}

body {
    font: 400 16px/1.4 -apple-system, '.SFNSText-Regular', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    line-height: 1.5em;
    color: #2e2e2e;
    //&.admin-bar {
    //    .navbar-fixed-top {
    //        top: 55px;
    //    }
    //}
}

section {
    padding: 35px 0;
}

#preload {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: table;
    background: #ececee;
}

.preload {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.loader {
    margin: 3em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    animation: load8 1.1s infinite linear;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid $bleu;
    &,
    &:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }
}

@-webkit-keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* ---------------------------------
   Resets & Utilities */

.clear {
    *zoom: 1;
    &:after {
        clear: both;
    }
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
}

img {
    max-width: 100%;
    vertical-align: bottom;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
    &:focus {
        outline: 0;
    }
    &:hover,
    &:active {
        outline: 0;
    }
}

input:focus {
    outline: 0;
}

select {
    width: 100%;
}

.right {
    float: right;
}

.left {
    float: left;
}

h2 {
    font-family: $font-gotham;
    font-weight: 700;
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 40px;
}

h3 {
    font-family: $font-gotham;
    font-weight: 700;
}

h4 {
    font-family: $font-gotham;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -1px;
    margin-bottom: 5px;
}

.lead {
    font-family: $font-gotham;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
}

.uppercase {
    text-transform: uppercase;
}

input[type="text"],
input[type="email"],
select,
textarea {
    font-size: 16px;
    line-height: 1;
    font-family: inherit;
    width: 100%;
    min-height: 20px;
    padding: 8px 10px;
    text-transform: uppercase;
    border: 0;
    border: 1px solid white;
    margin-bottom: 15px;
    outline: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
}

textarea {
    min-height: 90px;
    margin-bottom: 0;
}

.button {
    font-family: $font-gotham;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    border: none;
    margin: 15px 0;
    padding: 5px 15px;
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
    color: inherit;
    background: none;
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        transition: all 0.3s;
    }
}

.button-big {
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 4px;
}

.button-light {
    border: 1px solid #ffffff;
    color: #ffffff;
    &:hover,
    &:active {
        text-decoration: none;
        color: $bleu;
        background: #ffffff;
    }
}

.button-dark {
    color: #ffffff;
    background: $bleu;
    &:hover,
    &:active {
        text-decoration: none;
        color: #ffffff;
        background: #2980b9;
    }

}