.comity {
    background: #efefef;
    h2 {
        text-align: center;
    }
}
.comity__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.comity__person {
    margin-bottom: 30px;
    width:#{100% / 4};
    text-align: center;
    h4 {
        text-transform: uppercase;
        font-weight: 700;
        color: $bleu;
    }
    .title {
        font-family: $font-gotham;
        font-size: 14px;
        color: #888888;
    }
}


.program {
    background: #efefef;
}
.program__body {
    width:#{(10/12) * 100%};
    margin-left: auto;
    margin-right: auto;
}
.program__days {
    margin-left: -5px;
    margin-right: -5px;
    width: calc(100% + 10px);
    .owl-item {
        &.synced .program__day {
            transition: all 0.3s;
            color: #efefef;
            background: $bleu;
        }
    }
}
.program__day {
    margin: 10px 5px;
    padding: 10px;
    background: #fff;
    &:hover,
    &:active {
        transition: all 0.3s;
        color: #efefef;
        background: $bleu;
    }
    .day__date,
    .day__weekday {
        font-family: $font-gotham;
        font-weight: 700;
        margin-bottom: 10px;
        text-align: center;
        cursor: pointer;
    }
}
.program__program-grid {
    margin-left: -5px;
    margin-right: -5px;
    width: calc(100% + 12px);
    .program-grid__day {
        margin-left: 5px;
        margin-right: 5px;
    }
}
.program-grid__event {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    h3 {
        margin-top: 0;
        font-size: 17px;
        color: $bleu;
    }
    .icon {
        width: 10%;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        background: $bleu;
        i {
            display: block;
            margin-right: 10px;
        }
        .time {
            font-family: 'Economica';
            font-size: 22px;
            font-weight: 700;
        }
    }
    .description {
        padding: 10px;
        background: #fff;
        width: calc(100% - 15px);
        margin-left: 10px;
        p {
            font-size: 14px;
            font-family: $font-gotham;
            margin-bottom: 0;
        }
    }
}


.infos {
    padding-top: 0;
    h3 {
        color: $bleu;
        margin: 30px 0;
    }
    h4 {
        font-family: $font-gotham;
        font-weight: 600;
        margin-bottom: 15px;
    }
    i {
        margin: 0 10px 0 0;
        float: left;
        vertical-align: middle;
        color: $bleu;
    }
    .fa-inverse {
        color: #ffffff;
    }
}
.infos__venue {
    padding: 0 0 80px 0;
    min-height: 540px;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    height: auto;
    .map {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #gmap_canvas img {
        max-width: none!important;
        background: none!important
    }
}
.venue__address {
    padding: 15px;
    position: absolute;
    top: 50px;
    left: 0;
    color: #ffffff;
    background: rgba(52, 152, 219, 0.85);
    h2 {
        color: #ffffff;
        margin: 0 0 15px 0;
    }
    .address {
        font-size: 21px;
        margin-top: 25px;
    }
}
.infos__details {
    h3 {
        padding: 0 30px;
    }
}
.infos__details__container {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    .details + .details {
        padding-left: 30px;
    }
}
.infos__faq {
    padding: 50px 30px;
    text-align: center;
    h3 {
        margin: 10px 0;
    }
    p {
        margin-bottom: 20px;
    }
    a:hover {
        text-decoration: none;
    }
    .panel {
        text-align: left;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .panel-heading {
        padding-top: 6px;
        padding-bottom: 6px;
        text-decoration: none !important;
        * {
            text-decoration: none;
        }
    }
    .panel-title {
        margin-bottom: 0;
        a {
            padding: 0;
            display: flex;
            align-items: center;
            &:not(.collapsed) {
                i {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
.infos__faq__container i {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    color: $bleu;
    transition: all 0.25s ease;
}

.sponsors {
    background: #efefef;
    text-align: center;
    
    .lead {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
        color: #999999;
    }
    .sponsor-slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        max-width: 1280px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 20px;
    }
    .sponsors__img {
        img {display: block;}
        &.shadowed {
            img {
                padding:20px;
                -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, .9));
            -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
                filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
            }
        }
        & + .sponsors__img {
            margin-left: 20px;
        }
    } 
    .sponsors__img_big {
        max-width: 300px;
    }
    .sponsors__img_small {
        max-width: 200px;
    }
}


.purchase {
    padding: 70px 0;
    background: url(assets/img/tmp/register-bg.png) center center no-repeat fixed;
    background-size: cover;
    .lead {
        font-size: 31px;
        text-align: center;
        padding:0 30px;
        span {
            color:$bleu;
            font-weight: bold;
        }
    }
    .purchase__button {
        text-align: center;
    }
}
.cards {
    display: flex;
    max-width: 1280px;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 45px;
    .cards__item {
        width:#{100% / 4};
    }
}
.price-table-header {
    padding: 30px;
    display: flex;
    width:100%;
    height:180px;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
    background: $bleu;
    border-radius: 4px;
    
    .price {
        font-family: $font-gotham;
        font-size: 61px;
        font-weight: 700;
        margin-bottom: 0px;
        line-height: 61px;
        width: 100%;
    }
    .title {
        font-weight: 400;
        font-size: 22px;
        padding-bottom: 0px;
        line-height: 22px;
        width:100%;
    }
}


.contact {
    font-size: 16px;
    padding: 0;
    min-height: 576px;
    position: relative;
    background: url(assets/img/tmp/venue-bg.png) bottom center no-repeat;
    p {
        float: left;
    }
    .address {
        font-size: 21px;
        margin: 20px 0;
    }
    .social {
        position: absolute;
        bottom: 5px;
        margin: 10px 0;
        a {
            text-decoration: none;
            margin: 0;
            padding: 0;
            color: rgba(255, 255, 255, 0.65);
            &:hover {
                text-decoration: none;
                transition: all 0.3s;
                color: rgba(255, 255, 255, 1);
            }
        }
        .fa-inverse {
            color: $bleu;
        }
    }
}
.contact__block {
    width: #{100% / 3};
    padding: 15px;
    margin: 0 15px 0 10px;
    height: 576px;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    background: rgba(52, 152, 219, 0.85);
    h2 {
        margin-bottom: 10px;
    }
}