// -----------------------------
// <variables.scss>


// ---------------------------------
// Fonts

//@include font-face('Graviola', 'graviola', 'graviola', 'normal', 'normal');
@import url('https://fonts.googleapis.com/css?family=Economica:400,700');

@include font-face("Sinkin", "sinkin-200", "sinkin", '200', 'normal');
@include font-face("Sinkin", "sinkin-300", "sinkin", '300', 'normal');
@include font-face("Sinkin", "sinkin-400", "sinkin", '400', 'normal');
@include font-face("Sinkin", "sinkin-600", "sinkin", '600', 'normal');
@include font-face("Sinkin", "sinkin-700", "sinkin", '700', 'normal');

@include font-face("Gotham", "gotham-400", "gotham", '400', 'normal');
@include font-face("Gotham", "gotham-700", "gotham", '700', 'normal');

$font-sinkin: 'Sinkin', sans-serif;
$font-economica: 'Economica', sans-serif;
$font-gotham: 'Gotham', sans-serif;

// ---------------------------------
// Colors

$bleu: #1a509a;
$bleu-fonce: #150958;
$bleu-clair: #3f71bd;

$sable-clair:#d6c69b;

$blanc: white;
