/* ----------------------------- */
/* <admin-style.scss> */

// ---------------------------------
//   Mixins & Variables

@import "partials/mixins";
@import "partials/variables";

// ---------------------------------
//   Normalize & Santize

//@import "vendor/normalize";
//@import "vendor/sanitize";

// ---------------------------------
//   Correctifs

@import "partials/admin/hidden-elements";

.clientside-custom-logo #adminmenu #toplevel_page_clientside-view-site .clientside-menu-logo {
    margin-left:auto;
    margin-right: auto;
    display: block;
}

#adminmenuwrap {
    background-color: $bleu !important;
    border-right-color: $bleu-clair !important;
    color:$blanc;
}

.clientside-show-menu-separators #adminmenu li.wp-menu-separator {
    border-bottom-color: $bleu-clair !important;
}

.ame-is-free-version {
    .nav-tab-wrapper {
        float:right;
    }
}

#ws-ame-screen-meta-contents {
    padding: 15px;
    padding-top: 0;
    
    @include r(768)  {padding: 18px 36px;}
    @include r(1024) {padding:36px 72px;}
}

