/* ----------------------------- */
/* <header.scss> */


/* NAVIGATION */
#wpadminbar {
    display: none !important;
}

.navbar-custom {
    padding: 45px 0 0;
    transition: background .5s ease-in-out 0s,padding .5s ease-in-out 0s, top .5s ease-in-out 0s;
    font-family:$font-gotham;
    font-weight: 700;
    text-transform: uppercase;
	font-size:11.7px;
	border-radius:0;
	margin-bottom:0;
    color:#ffffff;
    background-color: #FFF;
    border-bottom: 0;
    display: flex;
    
    a {
        color:#ffffff;
    }
    
    .navbar-toggle {
        background:#ffffff;
        .icon-bar {
            background:$bleu;
        }
    }
    .navbar-header {
        padding-right:10px;
        background-color: $bleu-fonce;
    }
    .navbar-logo {
        padding: 0;
        display: block;
        width: 215px;
        min-width: 215px;
        height:209px;
        //float:left;
        position: relative;
        margin-bottom: -169px;
        margin-top: -40px;
        
        .navbar-logo_full,
        .navbar-logo_small {
            overflow-y: hidden;
            img {display: block;}
        }
        .navbar-logo_full {
            position: relative;
            z-index: 2;
            transition: opacity .5s ease 0s, max-height 0.5s ease 0s;
        }
        .navbar-logo_small {
            opacity: 0;
            padding:6px;
            background-color: $bleu-fonce;
            pointer-events: none;
            position: absolute;
            z-index: 2;
            top: 8px;
            transition: top 0.1s ease .5s, opacity 0s ease 0s;
        }
    }
    .navbar-nav {
        background-color: $bleu-fonce;
        float:none;
        width:100%;
        transition: all 0.5s ease;
        padding:0 15px 0;
        //padding-left: 230px;
        max-height: 65px;
        overflow: hidden;
        position: relative;
        li {
            float:none;
            position: static;
            display: inline-block;
            transition: all 0.5s ease;
            &.navbar-overflow__hidden {
                max-width: 0;
                max-height: 0;
                overflow: hidden;
                opacity: 0;
            }
        }
        li a {
            padding: 20px 10px 18px;
            text-shadow: 0 0 15px rgba(0,0,0,1);
            transition: all 0.5s ease;
            line-height: 1;
            text-decoration: none;
            &:hover {
                color:$sable-clair;
            }
        }
        .navbar-overflow:not(.show-inline-block) {
            display: none;
        }
        .navbar-overflow.show-inline-block {
            position: relative;
        }
        .navbar-overflow__button {
            padding: 0 10px;
            font-size: 20px;
            cursor: pointer;
            display: inline-block;
            line-height: 1px;
            vertical-align: middle;
        }
        .navbar-overflow__list {
            background: $bleu-fonce;
            position: absolute;
            top: 95%; // moves to 100% on hover generally
            right: 0;
            opacity: 0;
            visibility: hidden;
            padding:0 0 10px;
            width: 200px;
            transition: all 0.4s ease;
            > li a {
                padding:10px 15px;
            }
            &.navbar-overflow__visible {
                opacity: 1;
                visibility: visible;
                top:calc(100% + 11px);
            }
        }
    }
    
    &.top-nav-collapse {
        padding:0;
        top:0 !important;
        //max-height: 65px;
        background-color: $bleu-fonce;
        transition: all 0.5s ease;
        
        .navbar-nav {
            padding-bottom: 6px;
            padding-top: 9px;
        }
        .navbar-logo {
            max-height: 65px;
            align-self: center;
            margin-top: 0;
            margin-bottom: 0;
        }
        .navbar-logo_full {
            opacity:0;
            display: none;
        }
        .navbar-logo_small {
            top: 0px;
            opacity: 1;
            pointer-events: all;
            transition: top 0.5s ease .5s, opacity 0.5s ease .5s;
        }
        .navbar-overflow__list.navbar-overflow__visible {
            top:calc(100% + 18px);
        }
    }
    
    .navbar-facebook {
        background-color: $bleu-fonce;
        color:white;
        font-size: 0;
        display: flex;
        align-items: center;
        padding: 10px 10px 10px 0;
        a {
            display: block;
            line-height: 1;
        }
        i {
            font-size: 28px;
        }
    }
}


.splash {
	width:100%;
	height:600px;
	position:relative;
	display:flex;
    justify-content: center;
    align-items: flex-end;
    
    .background_01 {
        background-image:url(assets/img/background_01.png);
        background-position:center center;
        background-repeat:repeat;
        background-size:cover;
        position: absolute;
        top:0;
        bottom:0;
        right: 0;
        left:0;
        z-index: 1;
    }
    .background_02 {
        background-image:url(assets/img/background_02.png);
        background-position:center 110px;
        background-repeat:no-repeat;
        background-size:75%;
        position: absolute;
        top:0;
        bottom:0;
        right: 0;
        left:0;
        z-index: 2;
    }
    .background_03 {
        background-image:url(assets/img/background_03.png);
        background-position:center bottom;
        background-repeat:no-repeat;
        background-size:100%;
        position: absolute;
        top:0;
        bottom:0;
        right: 0;
        left:0;
        z-index: 3;
    }
    
}
.splash__intro {
    position: relative;
    z-index: 3;
    text-align: center;
    
    .splash__intro__name {
        margin-left:auto;
        margin-right: auto;
        //margin-top: 30vh;
        
        //@include r(480)  { max-width: 80%; }
        //@include r(1024) { max-width: 50%; }
        
        img {
            height:40vh;
            padding:3%;
            -webkit-filter: drop-shadow(0px 0px 30px rgba(0,0,0,0.9));
            -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
            filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
        }
    }
    .splash__intro__date {
        margin-left:auto;
        margin-right: auto;
        margin-top:-15px;
        
        img {
            height:10vh;
            padding:1%;
            -webkit-filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.9));
            -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
            filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
        }
    }
    
    
    .splash__intro__countdown {
        max-width: 30vw;
        margin-left:auto;
        margin-right: auto;
        color:$sable-clair;
        text-shadow:5px 5px 20px rgba(0,0,0,0.9),-5px -5px 20px rgba(0,0,0,0.9), 0px 0px 5px rgba(0,0,0,0.9), 0px 0px 10px rgba(0,0,0,0.9), 2px 2px 0px rgba(0,0,0,0.9), -2px -2px 0 rgba(0,0,0,0.9);
    }
    .countdown-row  {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        width:100%;
        margin-top:5vh;
    }
    .countdown-amount {
        font-family:$font-gotham;
        font-size:50px;
        line-height: 50px;
        margin-bottom:0px;
        width: 100%;
    }

    .countdown-section {
        font-family:$font-gotham;
        font-size:12px;
        float:none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: flex-end;
        text-transform: uppercase;
    }

}


.event {
    h2 {
        margin:10px 0;
    }

    h3 {
        color:#999999;
        span {
            font-size:30px;
            vertical-align:middle;
            color:#2e2e2e;
        }
    }
    h4 {
        margin-bottom:20px;
    }
    .lead {
        letter-spacing:0px;
        color:#999999;
    }
    i {
        color:$bleu;
    }
    .fa-circle {
        color:$bleu;
    }
    
}

.event__intro {
    width:60vw;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding:30px;
}
.event__milestones {
	width: 80%;
	padding:30px 0;
	display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.milestone {
    width: 22%;
	padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    
    .timer {
        font-family:$font-gotham;
        font-weight: 200;
        font-size:55px;
        line-height:55px;
    }
    p {
        font-size:16px;
        text-transform: uppercase;
        font-family:$font-gotham;
        font-weight: 700;
        letter-spacing:1px;
    }
    i {
        vertical-align:middle;
        margin:10px 0 5px 0;
    }
}
